<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div>
            
        </div>
        <div>
            <h1>List of all Students</h1>
            <hr>
        </div>
        <div>
            <table>
                <thead>
                    <tr>
                        <td>ID</td>
                        <td>Name</td>
                        <td>Email</td>
                        <td>Date of Birth</td>
                        <td>Gender</td>
                        <td>Actions</td>
                    </tr>
                </thead>
                <tbody>
                    
                    {% for stud in students %}
                    <tr>
                        <td>{{ stud.id }}</td>
                        <td>{{ stud.name }}</td>
                        <td>{{ stud.email }}</td>
                        <td>{{ stud.dob }}</td>
                        <td>{{ stud.gender }}</td>
                        <td></td>
                    </tr>
                    {% endfor %}
                        
                </tbody>
                <tfoot>
                    
                </tfoot>
            </table>
        </div>
    </div>
</body>
</html>