<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .arman {
            background-color: red;
            color: yellow;
        }
        .hasibur {
            width: 200px;
            height: 200px;
            border: 2px solid blue;
        }
    </style>
</head>
<body>
   <div>
       <h1 class="arman hasibur">Welcome to second django class</h1>
   </div>
   <div style="border: 5px dotted green;">
       amake aro valo kore css shikhte hobe
   </div>
</body>
</html>